*:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #dadada;
  font-size: 19px;
}

.container {
  margin: 20px auto;
  text-align: center;
}

.preview {
  text-align: left;
  float: left;
  height: 300px;
  width: 100%;
  margin-top: 2%;
}

.baku {
  background-image: url("../images/baku.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.london {
  background-image: url("../images/london.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.madrid {
  background-image: url("../images/madrid.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.rome {
  background-image: url("../images/rome.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}


/* TABLET */
@media screen and (min-width: 575px){
  .preview {
    margin: 1%;
    width: 48%;
  }
}

/* DESKTOP */
@media screen and (min-width: 1199px){
  .preview {
    margin: 1%;
    width: 22%;
  }
}
